<h2 mat-dialog-title>{{modalTitle}} ({{data.id}})</h2>
<mat-dialog-content>
  <mat-list role="list">
    <mat-list-item role="listitem" class="run"><span class="description">Date</span><span class="value">{{data.date}}</span></mat-list-item>
    <mat-list-item role="listitem" class="run"><span class="description">Map</span><span class="value">{{data.map}}</span></mat-list-item>
    <mat-list-item role="listitem" class="run"><span class="description">Club</span><span class="value">{{data.club}}</span></mat-list-item>
    <mat-list-item role="listitem" class="run"><span class="description">Link</span><span class="value">{{data._link}}</span></mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]='true'>Ok</button>
</mat-dialog-actions>