<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="secondary">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>SOLV Personal</span>
    <span class="example-fill-remaining-space"></span>
    <mat-form-field>
      <mat-select [(value)]="selected">
        <mat-option (onSelectionChange)="change($event)" *ngFor="let person of persons" [value]="person">
          {{person}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-icon routerLink='/run'>cloud_download</mat-icon>
    <mat-icon>new person</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink='/person'>Läufer</a>
      <a mat-list-item routerLink='/start'>Start</a>
      <a mat-list-item routerLink='/run'>Lauf</a>
      <a mat-list-item routerLink='/tick'>Zecken</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
